@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #deb808;
    overflow-y: hidden;
    overflow-x: hidden;
}

#board {
    height: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 1rem;
}

table {
    border-collapse: collapse;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    padding: 5px;
}

.piece {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

@keyframes flip-black-piece {
    from {
        background-color: #303030;
        border-color: black;
    }
    to {
        background-color: white;
        border: 5px solid #dbdada;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes flip-white-piece {
    from {
        background-color: white;
        border: 5px solid #dbdada;
    }
    to {
        background-color: #303030;
        border-color: black;
    }
    0% {
    }
    100% {
        rotate: 360deg;
    }
}

.white-piece {
    background-color: white;
    border: 5px solid #dbdada;
}

.black-piece {
    border: 5px solid black;
    background-color: #303030;
}

#div_score {
    display: flex;
    justify-content: space-between;
    width: 30em;
}

#game {
    display: flex;
    justify-content: space-between;
    width: 65em;
    align-items: center;
}

#black_turn,
#white_turn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 250px;
    z-index: 9999;
    margin: auto;
    display: block;
    position: fixed;
    border-radius: 15px;
    background-color: #fff;
    box-sizing: border-box;
    overflow-y: hidden;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal-container header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #303030;
}

#modal-container main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    padding: 10px;
    background-color: lightgreen;
    border: 1px solid white;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}
